" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
let mapleader = " "
set clipboard+=ideaput
set relativenumber


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
set NERDTree
set easymotion
set surround
set commentary
set quickscope
set which-key
set notimeout

"let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_primary_color = '#39ff14' "
let g:qs_secondary_color = '#137b00'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Global mappings
nmap <A-;> mzA;<Esc>`z<Action>(ReformatCode)
imap <A-;> <Esc>mzA;<Esc>`z<Action>(ReformatCode)
" xnoremap p "_dP
inoremap <A-o> <Esc>o
nmap <leader>n a<enter><esc>gr
inoremap <c-s> <BS>
inoremap <c-e> <DEL>
nmap <c-a> ea
map <leader>o <Action>(FileStructurePopup)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <c--> <Action>(PreviousTab)
map <c-=> <Action>(NextTab)

" Movement and goto mappings
nnoremap <leader>e :NERDTreeFocus<CR>
nmap <leader>w <Action>(HideActiveWindow)
nmap <leader>v <Action>(EditorSelectWord)
vmap m <Action>(EditorSelectWord)

nmap gi <Action>(GotoImplementation)
nmap gl <Action>(ShowErrorDescription)
nmap gr <Action>(FindUsages)
nmap gn <Action>(NextOccurence)
nmap gN <Action>(PreviousOccurence)
nmap gp <Action>(ReSharperGotoContainingDeclaration)
nmap gj <Action>(MethodDown)
nmap gk <Action>(MethodUp)

" LSP mappings
nmap <leader>lf <Action>(ReformatCode)
nmap <leader>lr <Action>(RenameElement)
nmap <leader>lj <Action>(GotoNextError)
nmap <leader>lk <Action>(GotoPreviousError)
nmap <leader>la <Action>(ShowIntentionActions)

" Search mappings
nmap <leader>sf <Action>(GotoFile)
nmap <leader>ss <Action>(Switcher)
nmap <leader>st <Action>(FindInPath)

" Debug mappings
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>ds <Action>(Debug)
map <leader>dc <Action>(Stop)
map <leader>dl <Action>(QuickEvaluateExpression)
map <leader>di <Action>(StepInto)
map <leader>do <Action>(StepOver)
map <leader>dr <Action>(RebuildSolutionAction)
map <leader>dm <Action>(ChooseDebugConfiguration)

" Buffers
map <leader>bm <Action>(EditorTabPopupMenu)
map <leader>bn <Action>(NextTab)
map <leader>bb <Action>(PreviousTab)
map <leader>bw <Action>(EditSourceInNewWindow)
map <leader>bs <Action>(MoveTabRight)
map <leader>bd <Action>(MoveEditorToOppositeTabGroup)
map <leader>ba <Action>(NextSplitter)
map <leader>bc <Action>(CloseAllEditors)

" Git
nmap <leader>gc <Action>(ActivateCommitToolWindow)
nmap <leader>gb <Action>(Git.Branches)
nmap <leader>g[ <Action>(Git.Pull)
nmap <leader>g{ <Action>(Git.Fetch)
nmap <leader>g] <Action>(Vcs.Push)
nmap <leader>gn <Action>(GitNewBranchAction)
