* {
  font-family: FiraCode, monospace;
  font-size: 12px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #000000;
  color: #ffffff;
  border-bottom: solid 2px gray;
}

#workspaces,
#window,
#clock,
#cpu,
#memory,
#temperature,
#network,
#battery,
#tray {
  padding: 0 8px;
  background: transparent;
  color: #ffffff;
}

#workspaces button {
  padding: 0 6px;
  color: #888888;
}

#workspaces button.focused {
  color: #ffffff;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #ff5555;
}

/* Akcenty */
#cpu {
  color: #50fa7b;
}

#memory {
  color: #8be9fd;
}

#temperature {
  color: #f1fa8c;
}

#temperature.critical {
  color: #ff5555;
}

#network {
  color: #bd93f9;
}

#battery {
  color: #f8f8f2;
}

#battery.warning {
  color: #ffb86c;
}

#battery.critical {
  color: #ff5555;
}

/* Tray */
#tray {
  padding-right: 10px;
}

